<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>$(API_KEY)</string>
    
    <key>UIAppFonts</key>
    <array>
        <string>WorkSans-Black.ttf</string>
        <string>WorkSans-Bold.ttf</string>
        <string>WorkSans-ExtraBold.ttf</string>
        <string>WorkSans-ExtraLight.ttf</string>
        <string>WorkSans-Light.ttf</string>
        <string>WorkSans-Medium.ttf</string>
        <string>WorkSans-Regular.ttf</string>
        <string>WorkSans-SemiBold.ttf</string>
        <string>WorkSans-Thin.ttf</string>
        <string>IBMPlexSansKR-Bold.ttf</string>
        <string>IBMPlexSansKR-ExtraLight.ttf</string>
        <string>IBMPlexSansKR-Light.ttf</string>
        <string>IBMPlexSansKR-Medium.ttf</string>
        <string>IBMPlexSansKR-Regular.ttf</string>
        <string>IBMPlexSansKR-SemiBold.ttf</string>
        <string>IBMPlexSansKR-Thin.ttf</string>
    </array>
</dict>
</plist>
